{% extends "layout.html" %} {% block content %}
<div class="container">
    <div class="row justify-content-between">
        <h2>Recettes contenant l'ingredient <span>{{ingredient.name}}</span></h2>
        <a href="/new" class="">
            <h5>
                <span class="badge badge-primary">
                    <i class="fa fa-plus"></i>
                </span>
                Ajouter une recette
            </h5>
        </a>
    </div>
    <div class="row">
        <div class="container my-2 d-flex">
            {% for r in recipes %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card" style="height:20rem!important;">
                    <a href="/{{r.id}}">
                        <div class="card-header">
                            <h3 class="card-title text-center">{{r.name}}</h3>
                        </div>
        
                        <img src="/uploads/{{r.picture}}" alt="{{r.name}}" class="card-img-top" width="100%">
                    </a>
                    <div class="card-body">
                        <p class="card-text">{{r.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}