{% extends "layout.html" %} {% block content %}
<div class="container">
    <h2>Toutes les Recettes de {{type.name}}</span></h2>
    <div class="container my-2 d-flex">
        {% for r in recipes %}
        <div class="col-4 col-md-3">
            <div class="card" style="height:20rem!important;">
                <a href="/{{r.id}}">
                    <div class="card-header">
                        <h3 class="card-title text-center">{{r.name}}</h3>
                    </div>
    
                    <img src="/uploads/{{r.picture}}" alt="{{r.name}}" class="card-img-top" width="100%">
                </a>
                <div class="card-body">
                    <p class="card-text">{{r.description}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}